@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --headlineBig: clamp(5rem, 9.9vw, 15rem);
  --headlineMedium: clamp(1rem, 2vw, 4rem);
  --headlineSmall: clamp(0.6rem, 0.75vw, 1.3rem);
  --spacing: clamp(0.9rem, 0.75vw, 1.3rem);
  
}

body {
  @apply bg-secondary-light text-primary-dark font-sans;
  
}

.page-content {
  @apply lg:px-40 md:px-20 sm:px-5 w-full lg:py-24 md:py-16 sm:py-8;
}
.page-content-x {
  @apply lg:px-40 md:px-20 sm:px-5 w-full;
}
.page-content-y {
  @apply w-full lg:py-24 md:py-16 sm:py-8;
}
html.lenis {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}

