@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --headlineBig: clamp(5rem, 9.9vw, 15rem);
  --headlineMedium: clamp(1rem, 2vw, 4rem);
  --headlineSmall: clamp(0.6rem, 0.75vw, 1.3rem);
  --spacing: clamp(0.9rem, 0.75vw, 1.3rem);
  
}

body {
  @apply bg-secondary-light text-primary-dark font-sans;
  
}

.page-content {
  @apply justify-between lg:px-40 md:px-20 sm:px-5 w-full lg:py-24 md:py-16 sm:py-8;
}